@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #9c29b2;
  --secondary: #ffc909;
  --background: #FFF5E9;
}
.container-form{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
   background-color: #ffc909;
   padding-bottom: 20px;
}

.contactus-container{
   margin-top: 30px;
   margin-bottom: 100px;
   height: 700px;
   width: 1200px;
   background-color: #ffffff;
   border-radius: 10px;
   border: 2px solid black;
   
   
}
.contactInfo{
   width: 450px;
   height: 680px;
   background-color: #9C29B2;
   margin: 10px;
   border-radius:10px;
   padding-left: 1rem;
}
.paragraphinfo{
   color: #C9C9C9;
}
.contactus{
   margin-top:100px;
  text-align: center;
}
.anyquestion{
   color: #717171;
}

.twitter-form,.facebook-form,.instagram-form{
   width: 30px;         
  height: 30px;         
  background-color: #000000;  
  border-radius: 50%;  
  margin-left: 25px; 
  margin-top: 250px; 
}


.inputFirstName,.inputLastName,.inputEmail,.inputPhone{
   border-bottom: 1px solid #8D8D8D;
  
}

.labelFirstName,.labelLastName,.labelEmail,.labelPhone,.message{
   color: #8D8D8D;
}
.button-container{
   display: flex;       
  
}
.sendButton{
   background-color: #9C29B2;
   color:white;
   width:200px;
   height: 50px;
   border-radius: 5px;
   margin-top: 40px;
   margin-left:auto;
   margin-right: 20px;
}
.img-avion{
   width: 300px;
   height: 200px;
   margin-left: 200px;

}
input::placeholder, textarea::placeholder{
   color: #8D8D8D !important;
 }
 