body{
    background-color:#FFC909 ;
}
.cardEvents{
    width: 400px;
    height: 350px;
    background-color: #FFF;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.image-container{
    height: 350px;
    width: 150px;
    border-radius: 10px;
    background-color:#9C29B2 ;

}
.infoContainer{
    width: 150px;
}
.descriptionEvent{
    width: 200px;
}
.buttonMoreInfo,.buttonConfirmAttendance{
    background-color: #9C29B2;
    color: white;
    border-radius: 20px;
    width: 150px;
    height: 20px;
}
.title{
    font-family:monospace;
}