.footer {
    background-color:  #2C2C2C;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .about-container{
    color: #ffffff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
  }
  .description-about{
    width: 250px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#737373
  }
  .socialmedia-container{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;
  }
  .twitter{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #585454;
  }
  .facebook{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #585454;
    
  }
  .instagram{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #585454;
  }
  .linkedin{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #585454;
  }
  .services-container{
    color: #ffffff;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
  }
  .list-services{
    list-style-type: none;
    padding-left: 0; 
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#737373

  }
  .links-container{
    color: #ffffff;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
  }
  .reachus-container{
    color: #ffffff;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
  }
  .newsletter-container{
    color: #ffffff;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
  }
  
  .info-container {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #737373;
  }
  
  /*imagenes*/
  .img-facebook{
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
  }
  .img-twitter{
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
  }
  .img-instagram{
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
  }
  .img-linkedin{
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
  }
  
  
    